{% extends 'base.html' %}
{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{css_url}}/dashboard.css">
{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="content-container">
            <h1>Добрый день!</h1>
            <h2>Вот ваш список задач на сегодня:</h2>
            <div class="habits-container" id="dailyHabitsList">
                    <!-- Здесь будут отображаться задачи -->
            </div>
            <div class="motivation-text">
                <h3>Ежедневное выполнение установленных задач - залог закрепления любой полезной привычки!</h3>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
<script src="{{js_url}}/dashboard.js"></script>
{% endblock %}

