{% extends 'base.html' %}
{% block title %}
    <title>Habits</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{css_url}}/habits.css">
{% endblock %}

{% block content %}
    <h2>Все привычки:</h2>
    <table>
        <thead><tr><th>Название</th><th>Описание</th><th>Цель</th><th>Прогресс</th></tr></thead>
        <tbody align="center" id="tbodyHabits">
        </tbody>
    </table>
    <h2>Активные привычки:</h2>
    <table>
        <thead><tr><th>Название</th><th>Описание</th><th>Цель</th><th>Прогресс</th><th>Состояние на сегодня</th></tr></thead>
        <tbody align="center" id="tbodyActiveHabits">
        </tbody>
    </table>
    <button type="button" id="create-button" class="create-button" onclick="createHabit()">Создать новую привычку</button>
{% endblock %}

{% block sidebar_right %}{% endblock %}

{% block scripts %}
<script src="{{js_url}}/habits.js"></script>
{% endblock %}

